body {
    background-color: #202020;
    font-family: 'Segoe UI', Verdana, Tahoma;
    font-size: 18px;
    color:	#CFCFCF;
}

.clear {
    clear: both;
}

a {
    color: #5388ff;
    outline: 0;
}
a:hover {
    color: #73a8ff;
}

#header {
    width: 100%;
    max-height: 20%;
}

.caption_container {
    margin: 0 auto;
    width: 50%;
    height: 5%;
    text-align: center;
}

#caption_title {
    text-align: left;
    float: left;
    font-size: 22px;
    padding: 0 0 5px 0;
}
#caption_date {
    text-align: left;
    float: left;
    font-size: 12px;
    padding: 11px 0 0 10px;
}

#content {
    width: 100%;
    height: 80%;
}
.loader {
    width: 16px;
    height: 11px;
    background: url('../images/loader.gif') no-repeat;
    visibility: hidden;
}

#image_container {
    width: 90%;
    height: 100%;
    margin: 0 auto;
    text-align: center;
}

#imagebox {
    max-width: 75%;
    height: 100%;
    margin: 0 auto;
    text-align: center;
    float: left;
}		
#imagebox img {
    max-width: 100%;
    max-height: 100%;
    image-rendering: optimizequality;
    float: right;
}
#metadata {
    margin: 0 0 0 10px;
    max-width: 25%;
    height: 100%;
    position: relative;
    float: right;
}			
.acceptbox_caption {
    margin: 0 0 4px 0;
}
#acceptbox {
    float: left;
}
#accept_loader {
    float: left;
    margin: 10px;
}
/* button basics */
a.minibutton {
    display:inline-block;
    height:23px;
    padding:0 0 0 3px;
    font-size:11px;
    color:#333;
    text-shadow:1px 1px 0 #fff; 
    background:url(http://github.com/images/modules/buttons/minibutton_matrix.png) 0 0 no-repeat;
    white-space:nowrap;
    border:none;
    overflow:visible;
    cursor:pointer;
    text-decoration:none;                                
}
a.minibutton>span {
    display:block;
    height:23px;
    padding:0 10px 0 8px;
    line-height:23px;
    background:url(http://github.com/images/modules/buttons/minibutton_matrix.png) 100% 0 no-repeat;
}
a.minibutton:hover, a.minibutton:focus {
    color:#fff;
    text-decoration:none;
    text-shadow:-1px -1px 0 rgba(0,0,0,0.3);
    background-position:0 -30px;
}
a.minibutton:hover>span, a.minibutton:focus>span {background-position:100% -30px;}
a.minibutton.mousedown{background-position:0 -60px; }
a.minibutton.mousedown>span{background-position:100% -60px; }

/* with icon */
a.btn-download .icon {
    float:left;
    margin: 3px 3px 0 -4px;
    width:18px;
    height:22px;			
}					
a.btn-download .icon_yes {
    background:url(../images/accept_yes.png) 0 0 no-repeat;				
}
#accept_yes {
    z-index: 99;
}
a.btn-download .icon_no {
    background:url(../images/accept_no.png) 0 0 no-repeat;				
}
#accept_no {
    margin-left: -10px;
    z-index: 1;
}
a.btn-download .icon_none {
    background:url(../images/accept_none.png) 0 0 no-repeat;
    margin-left: -10px;
}
#accept_none {
    margin-left: -10px;
    z-index: 1;
}

/* Selected */ 
a.minibutton_selected {
    display:inline-block;
    height:23px;
    padding:0 0 0 3px;
    font-size:11px;
    color:#333;
    text-shadow:1px 1px 0 #fff; 
    background:url(http://github.com/images/modules/buttons/minibutton_matrix.png) 0 -30px no-repeat;
    white-space:nowrap;
    border:none;
    overflow:visible;
    cursor:pointer;
    text-decoration:none;
}
a.minibutton_selected>span {
    display:block;
    height:23px;
    padding:0 10px 0 8px;
    line-height:23px;
    background:url(http://github.com/images/modules/buttons/minibutton_matrix.png) 100% -30px no-repeat;
}
/*a.btn-download:hover .icon, a.btn-download:focus .icon {background-position:-40px -25px;}*/

.rating_container {
    float: left;
    width: 100%;
    max-height: 10%;
    padding: 0 0 20px 0;
}

.accept_container {
    float: left;
    width: 100%;
    max-height: 10%;
    padding: 0 0 20px 0;
}

.comment_container {
    position: relative;    
    width: 100%;
    max-height: 80%;
}

.ratingbox_caption {
    
}
#ratingbox {
    /*background: url('../images/rating_background.png') no-repeat;*/
    width: 180px;
    height: 24px;
    float: left;
}
#rating_loader {
    float: left;
    margin: 8px 0 0 3px;
}
.star {			
    float: left;
    width: 24px;
    height: 24px;
    padding-right: 8px;
    cursor: pointer;
}		
.star_fill {
    background: url('../images/star_fill.png') no-repeat;
}		
.star_was_fill {
    background: url('../images/star_fill.png') no-repeat;
}		
.star_empty{
    background: url('../images/star_empty.png') no-repeat;
}
.star_was_empty{
    background: url('../images/star_empty.png') no-repeat;
}

.commentbox_caption {

}	
#commentbox {
    float: left;
}
textarea {
    font-family: 'Segoe UI', Verdana, Tahoma; 
    font-size: 14px; 
}

#save {
    margin: 5px 0;
    float: left;
}
a.btn-download .icon_save {
    background:url(../images/save.png) 0 0 no-repeat;			
}
#comments_loader {
    float: left;
    margin: 15px 0 0 15px;
}

/* Подвал */
#footer {
    width: 100%;
    max-height: 15%;
}

/* Навигация */ 
#nav {
    width: 900px;
    height: 24px;
    margin: 0 auto;
    padding: 0 0 10px;
    text-align: center;
}
.nav_controls {
    margin: 0 auto;
    width: 300px;
}
.nav_controls div {
    float: left;			
    height: 24px;
    margin: 0 20px 0 0;
    cursor: pointer;
}

.nav_controls .minibutton {
    width: 50px;
    float: left;
    margin: 0 2px;
}

.minibutton .nav_arrow{
    padding: 2px 10px;
    font-size: 26px;
    line-height: 14px;
}
.nav_space{
    width: 32px;
    float: left;
}

/* Превью */
#thumbs_container {
    display: block;
    overflow: hidden;
    margin: 0 auto;
    padding: 10px 0;
    height: 75px;
    position: relative;
}
#thumbs {
    display: block;
    position: relative;
    margin: 0 auto;
}
.thumb {
    margin-right: 10px;
    float: left;
    width: 100px;
    height: 75px;
    cursor: pointer;
}
.thumb img {
    max-width: 100px;
    max-height: 75px;
}
.darken_small {
    margin: -75px 0 0 0;
    opacity: 0.85;
}

/* Сохранить и отправить */
.ready_button_container {
    position: absolute;
    bottom: 0;
}

#ready_button {
    float: left;
}

#ready_button span {
    font-weight: bold;
}

a.btn-download .icon_ready {
    background: url(../images/ready.png) 0 0 no-repeat;
}

#ready_loader {
    float: left;
    margin: 6px 0 0 6px;
}